[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/AndreaCuriel/hugo-universal-theme
[submodule "public"]
	path = public
	url = https://github.com/AndreaCuriel/Universal-blog
